<!DOCTYPE html>
<html lang="cs" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Seznam osob</title>
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/css/normalize.css" th:href="@{/css/normalize.css}">
    <link rel="stylesheet" href="/css/skeleton.css" th:href="@{/css/skeleton.css}">
    <link rel="stylesheet" href="/css/main.css" th:href="@{/css/main.css}">
    <link rel="icon" type="image/png" href="/images/favicon.png" th:href="@{/images/favicon.png}">
</head>
<body>
<main class="container">
    <h1>List of blog posts</h1>
    <table class="u-full-width">
        <thead>
        <tr>
            <th>Slug</th>
            <th>Author</th>
            <th>Title</th>
            <th>Perex</th>
            <th>Body</th>
            <th>Published</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td th:text="${post.slug}">slug</td>
            <td th:text="${post.author}">author</td>
            <td th:text="${post.title}">title</td>
            <td th:utext="${post.perex}">perex</td>
            <td th:utext="${post.body}">body</td>
            <td th:text="${#temporals.format(post.published, 'd. MMMM yyyy')}">13 August 2021</td>
        </tr>
        </tbody>
    </table>

</main>
</body>
</html>
