<!DOCTYPE html>
<html lang="cs" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title th:text="${post.title}">Title</title>
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/css/normalize.css" th:href="@{/css/normalize.css}">
    <link rel="stylesheet" href="/css/skeleton.css" th:href="@{/css/skeleton.css}">
    <link rel="stylesheet" href="/css/main.css" th:href="@{/css/main.css}">
    <link rel="icon" type="image/png" href="/images/favicon.png" th:href="@{/images/favicon.png}">
</head>
<body>
<main class="container">
    <h1 th:text="${post.title}">Title</h1>
    <p></p>
    <h2 th:text="${post.author + ', ' + #temporals.format(post.published, 'd MMMM yyyy')}">Author, posting date</h2>
    <p></p><hr><p></p>
    <h3 th:utext="${post.perex}">Post perex</h3>
    <p></p>
    <div th:utext="${post.body}">Post body</div>
</main>
</body>
</html>
